<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title></title>
  <script src="https://kit.fontawesome.com/2607b0e8af.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <link rel="shortcut icon" type="x-icon" href="/images/dollor.jpg">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
    
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Reddit+Mono:wght@200..900&display=swap');
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

  .gradient-bg {
        background: #0f0c29;
        background: -webkit-linear-gradient(
          to right,
          #24243e,
          #302b63,
          #0f0c29
        );
        background: linear-gradient(
          to right,
          #24243e,
          #302b63,
          #0f0c29
        ); 
      }

      .flash-message{
        color: red;
        font-weight: 600;
      }

      .custom-shadow {
        box-shadow: 2px 3px 19px 2px rgba(116,69,219,0.66);
      -webkit-box-shadow: 2px 3px 19px 2px rgba(116,69,219,0.66);
      -moz-box-shadow: 2px 3px 19px 2px rgba(116,69,219,0.66);
    }

 </style>
<body>